
.artwork-details-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.left-container,
.right-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 30px;
  padding: 25px 0;
}

.details-artwork-image {
  width: auto;
  height: 82%;
  background-color: rgb(223, 223, 238);
  border: 5px solid rgb(223, 223, 238);
  object-fit: cover;
}

.details-artwork-image img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.details-rating {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-top: 15px;
}

.details-stars {
  width: 70px;
  height: auto;
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.details-star {
  fill: var(--star-color);
  cursor: pointer;
  transition: all 0.4s;
}

.details-star.details-star-clicked {
  stroke: var(--secondary-color);
  stroke-width: 4;
  opacity: 1;
}

.details-star.details-star-clicked:hover {
  opacity: 1;
  stroke-width: 6;
}

.details-star.details-star-inactive {
  opacity: 0.4;
}

.details-star.details-star-inactive:hover {
  opacity: 0.9;
  stroke: gray;
  stroke-width: 3;
}

.artwork-title {
  font-size: 4rem;
  font-family: "playfair display";
  font-weight: bold;
  line-height: 90%;
  margin-bottom: 15px;
  color: var(--met-red);
}

.artwork-location {
  font-size: 1.05rem;
  font-family: "open sans";
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--secondary-color);
}
.details-related-education-buttons{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  gap: 15px;
  border-bottom: 1.5px solid var(--met-red);
}

.details-related-education-button{
  background-color: transparent;
  color: var(--met-red);
  font-size: 1.05rem;
  font-weight: 500;
  padding-bottom: 5px;
  border: none;
  cursor: pointer;
  transition: ease-out 0.2s;
  text-align: left;  
  opacity: .7;
}

.details-related-education-button:hover{
  opacity: 1;
  font-weight: 700;
  border-bottom: 4px solid var(--met-red);
}

.details-related-education-button-clicked{
  opacity: 1;
  font-weight: 650;
  border-bottom: 2px solid var(--met-red);
}


.resources-text {
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 10px;
}


.loading-container {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #666;
}

.error-container {
  text-align: center;
  padding: 2rem;
  color: #dc3545;
}