.hero-container{
  --hero--padding: 2rem;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--hero--padding);
  position: relative;
  z-index: 1;
}
.headings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
.main-logo{
  fill: var(--met-red);
  width: min(400px, 90vw); /* 400px or 90% of the viewport width, whichever is smaller */
  height: auto;
}


h1{
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--met-red);
  text-align: center;
  margin:0;
}

.cta-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero-container {
    --hero-padding: 1rem;
  }
  
  .headings {
    gap: 1.5rem;
  }
}