.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 1200px; 
  width: 100%;
  margin: 30px auto;
  padding: 0 60px; 
  position: relative; 

}
.gallery-heading {
  align-self: start;
  font-family: "Open Sans";
  font-weight: 700;
}
.gallery-rating {
  width: 100%;
  height: 80px;
  border-top: 1px solid var(--met-red);
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 10px 0;
}

.gallery-stars {
  background-color: transparent;
  border: none;
  width: auto;
}

.gallery-star {
  fill: var(--star-color);
  cursor: pointer;
  transition: all 0.4s;
  margin: 0 5px;
}

.gallery-rating-btn {
  margin-left: 10px;
  height: 40px;
  font-family: 'Open Sans';
  font-size: 1.35rem;
  font-weight: 500;
  padding: 0 10px;
  border-radius: 10px;
  border: 1.2px solid var(--secondary-color);
  background-color: var(--primary-color);
}

.gallery-star.gallery-star-clicked {
  stroke: var(--secondary-color);
  stroke-width: 4;
  opacity: 1;
}

.gallery-star.gallery-star-clicked:hover {
  opacity: 1;
  stroke-width: 6;
}

.gallery-star.gallery-star-inactive {
  opacity: 0.4;
}

.gallery-star.gallery-star-inactive:hover {
  opacity: 0.9;
  stroke: gray;
  stroke-width: 3;
}

.gallery-rating-btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  opacity: 0.2;
  color: var(--primary-color);
}


.gallery-rated {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}