:root {
  --border-radius: 12px;
}
.art-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  width: 300px;
  height: 400px;
  border-radius: var(--border-radius);
  cursor: pointer;
}



.top-item {
  width: 100%;
  height: 50%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: #737272;
  overflow: hidden;
}

.bottom-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--met-red);
  padding: 20px;
}

.card-image {
  width: 100%;
  height: 100%;
  background-color: rgb(223, 223, 238);
  border: 5px solid rgb(223, 223, 238);
  object-fit: cover;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.location-star {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.location-pin {
  width: 20px;
  height: auto;
  margin-right: 5px;
  fill: var(--primary-color);
}

.card-star {
  fill: yellow;
  width: 20px;
  height: auto;
}


.artwork-card-title {
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 650;
  color: var(--secondary-color);
  line-height: 1.2;
  max-height: 2.4em; /* This allows for 2 lines at 1.2 line height */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Add a modifier class for long titles */
.artwork-card-title.long-title {
  font-size: 16px;
}

.artwork-card-artist {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}
