:root {
  --nav-height: 60px;
  --logo-width: 50px;
  --flex-basis: 220px;
  --underline: 3px;
  --link-font: 20px;
  --link-hover: .2s;
}
.navbar {
  background: var(--met-red);
  height: var(--nav-height);
  position: sticky;
  display: grid;
  top: 0;
  z-index: 999;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.navbar-logo {
  cursor: pointer;
  flex-basis:var(--flex-basis);
}

/* logo vector styling */
.logo{
  display: block;
  fill: var(--primary-color);
  width: var(--logo-width);
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* page links */
.nav-item {
  display: inline-block;
  padding: 0 15px; /* (top, bottom) (left, right)*/
}

.nav-links {
  font-weight: bold;
  font-size: var(--link-font);
  color: var(--primary-color);
  text-decoration: none;
  transition: border-bottom var(--link-hover) ease;
}

/* when cursor hovers over or tabs focus */
.nav-links:hover, .nav-links:focus {
  border-bottom: var(--underline) solid var(--primary-color);
}

.button-group {
  flex-basis: var(--flex-basis);
  display: flex;
  justify-content: flex-end;
}

.button-group > :first-child {
  margin-right: 15px;
}

.nav-links-mobile {
  display: none;
  padding: 0 0;
}

.menu-icon {
  display: none;
}

.mobile-only{
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-container{
    display: flex;
    padding: 0 15px;
  }

  .nav-menu-tablet{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
  }

  .navbar-logo {
    flex-basis: none;
    justify-content: flex-start;
  }

  .button-group{
    flex-basis: none;   
  }
  .menu-icon {
    display: block;
    background-color: transparent;
    border: none;
    stroke: var(--primary-color);
    justify-content: flex-end;
    cursor: pointer;
  }
    
  .nav-menu {
    position: absolute;
    flex-direction: column;
    width: 50%;
    top: var(--nav-height);
    right: -100%;
    opacity: 1;
    background: var(--met-red);
    border-bottom: var(--underline) solid var(--met-red);
  }

  .nav-menu.active {
    right: 0;
  }
  
  .nav-links {
    text-align: center;
    padding: 10px;
    width: 100%;
    display: table;
  }
  
  .nav-links:hover, .nav-links:focus {
    border-bottom: var(--underline) solid var(--primary-color);
  }

}

@media screen and (max-width: 600px) { 

  .button-group{
    display: none;  
  }

  .mobile-only{
    display: block;
  }
  
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: auto auto;
    text-decoration: none;
    font-size: var(--link-font);
    font-weight: bold;
    color: var(--primary-color);
    padding: 15px;
  }
  
  .nav-links-mobile:hover, .nav-links-mobile:focus {
    border-bottom: var(--underline) solid var(--primary-color);
    transition: border-bottom var(--link-hover) ease;
  }
} 