.details-rating{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.related-cards{
    background-color: transparent;
    border-color: transparent;
;
}
